$primeira: #924FAA;
$segunda: #C087D5;
$terceira: #682680;
$quarta: #410B55;


.container-fluid{
  height: 1200px;
  justify-content: center;


  .linha2{
    .col-md-6{
      height: 400px;
      align-content: center;
    }
    .imagem1{
      height: 400px;
      border-top-left-radius: 5%;
      border-bottom-left-radius: 5%;
      background-image: url("https://media.istockphoto.com/id/1334536145/pt/foto/happy-family-of-four-getting-on-boarding-the-plane-on-a-daytime-ready-for-summer-vacations.jpg?s=612x612&w=0&k=20&c=cy6ULdHULdXq03bYlSAqXxs76uaROXChb3U1gSVbfAM=");
      background-size: cover; /* Ajusta a imagem para cobrir o elemento */
      background-position: center; /* Centraliza a imagem */
      background-repeat: no-repeat; /* Evita repetição da imagem */
    }
  }

  .linha3{
    justify-content: center;

    .col-md-12{
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  //CARD
  #card{
    display: flex;
    width: 50%;
    margin: auto;

    transition: .3s;
    
  }
  


 

  .btn-arrow{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgb(173, 158, 158);
  }


 
}

