$primeira: #924FAA;
$segunda: #C087D5;
$terceira: #682680;
$quarta: #410B55;


.container-fluid {
  height: 1200px;
  justify-content: center;


  .linha2{
    .col-md-6{
      height: 400px;
      align-content: center;

      .imagem1 img{
        max-width: 1250px;
      }
    }
  }

  .linha3{
    justify-content: center;

    .col-md-12{
      align-items: center;
      padding-top: 60px;
      padding-bottom: 60px;

    }
  }

  //CARD

  .carousel{

    @media screen and (min-width: 992px) {
      .card-wripper{
        display: none;
      }
    }

    .card-wripper{
      display: flex;
      justify-content: center;
      .card{
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100%/4);
        .card-img-top{
          height: 250px;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .card:not(:first-child){
        display: none;
      }
    }
  }



  
  .carousel1{

    display: flex;
    margin: auto;
    width: 80%;

    .card-wripper{
      display: flex;
      justify-content: center;
    }

    .carousel-contorl-prev, .carousel-contorl-next{
      transform: translateY(-100);
    }
    
  }

}