$primeira: #924faa;
$segunda: #C087D5;
$terceira: #682680;
$quarta: #410B55;
$quinta: #270570;
$sexta: #4400D4;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body{
  background-color: rgb(238, 232, 232);

  header{
    background-color: #F8F9FA;
    padding-bottom: 30px;
    .img-logo{
      height: 70px;
      width: 70px;
    }
    .nav-item{
      :hover{
        color: $terceira;
      }
    }
    .links{
      color: #08020a;
      text-decoration: none;
      .d-flex{
        padding-right: 30px;
        float: left;
        text-align: center;
        flex-direction: column;
      }
      :hover{
        color: $terceira;
      }
    }
  }

  .article12{
    background-color: $sexta;

    .row{
      width: 80%;

      .imagem5{
        height: 500px;
      }
    }
  }

  .container-fluid {
    height: auto;
    justify-content: center;
    font-family: 'Rubik','Open Sans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .linha2{

      .col-lg-6{
        height: 400px;
        align-content: center;
      }

      .image-container{
        background-image: url('https://thumbs.dreamstime.com/b/fam%C3%ADlia-no-aeroporto-60377180.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .linha3{
      justify-content: center;

      .col-md-12{
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
    
    //CARD
    .carousel{

      @media screen and (min-width: 992px) {
        .card-wripper{
          display: none;
        }
      }

      .card-wripper{
        display: flex;
        justify-content: center;
        .card{
          margin-left: 20px;
          margin-right: 20px;
          width: calc(100%/4);

          .card-img-top{
            height: 250px;
          }

          .card-body{

            del{
              color: rgba(0, 0, 0, 0.473);
              font-size: 15px;
            }

            .card-text{
              color: rgba(0, 0, 0, 0.473);
              font-size: 15px;
            }

            .Preco-real{
              font-size: 20px;
            }
          }
        }
      }

      @media screen and (max-width: 991px) {
        .card:not(:first-child){
          display: none;
        }
      }
    }

    //CARD RESPONSIVO
    .carousel1{

      display: flex;
      margin: auto;
      width: 80%;

      .card{

        .card-img-top{
          height: 250px;
        }

        del{
          color: rgba(0, 0, 0, 0.486);
          font-size: 15px;
        }

        .card-text{
          color: rgba(0, 0, 0, 0.63);
          font-size: 15px;
        }

        .Preco-real{
          font-size: 20px;
        }
      }

      .carousel-contorl-prev, .carousel-contorl-next{
        transform: translateY(-100);
      }
    }

    .cards-imgs{
      color: #08020a;

      .img-alterar{
        width: 30px;
        height: 30px;
      }
    }
  }

  footer{
    background-color: $terceira;
    color: white;
    display: flex;
  }

}

