body{
  background-color:  rgb(238, 232, 232);
}

body .voltar{
  border: 1px solid rgba(0, 0, 0, 0.342);
  color: rgba(0, 0, 0, 0.616);
  border-radius: 50%;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  transform: translateX(10px);
}

body .container{
  transform: translateY(150px);
  background-color: white;
  flex-direction: column;
  width: 50%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.397);
}

body .container .row{
  height: 100%;
}

body .container .dis{
  padding: 5px;
  text-decoration: none;
}
body .container input{
  border: 1px solid rgba(0, 0, 0, 0.432);
}

body .container button{
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}