@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  background-color: rgb(238, 232, 232);
}

header {
  background-color: #F8F9FA;
  padding-bottom: 30px;
}

.navbar-brand{
  color: #CE803D;
}

.img-logo {
  height: 100px;
  width: auto;
}

.nav-item :hover {
  color: #682680;
}

.links {
  color: #08020a;
  text-decoration: none;
}

.links .d-flex {
  width: 100px;
  float: left;
  text-align: center;
  flex-direction: column;
  padding-top: 5px;
}

.links :hover {
  color: #682680;
}

.article12 {
  background-color: #4400D4;
}

.article12 .row {
  width: 100%;
}

.article12 .row .imagem5 {
  height: auto;
}

.container-fluid {
  height: auto;
  justify-content: center;
  font-family: "Rubik", "Open Sans", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.linha2 .text-lado {
  height: 400px;
  align-content: center;
  
}


.linha2 .image-container {
  height: 100%;
}

.linha3 {
  justify-content: center;
}

.linha3 .col-md-12 {
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.carousel .card-wripper {
  display: flex;
  justify-content: center;
}

.carousel .card-wripper .card {
  margin-left: 20px;
  margin-right: 20px;
  width: 25%;
}

.card .card-img-top {
  height: 250px;
}

.card .card-body del {
  color: rgba(0, 0, 0, 0.473);
  font-size: 15px;
}

.card .card-body .card-text {
  color: rgba(0, 0, 0, 0.473);
  font-size: 15px;
}

.card .card-body .Preco-real {
  font-size: 20px;
}

.carousel1 {
  display: flex;
  margin: auto;
  width: 80%;
}

.carousel1 .card .card-img-top {
  height: 250px;
}

.carousel1 .card del {
  color: rgba(0, 0, 0, 0.486);
  font-size: 15px;
}

.carousel1 .card .card-text {
  color: rgba(0, 0, 0, 0.63);
  font-size: 15px;
}

.carousel1 .card .Preco-real {
  font-size: 20px;
}

.cards-imgs {
  color: #08020a;
}

.img-alterar {
  width: 30px;
  height: 30px;
}

footer {
  background-color: #682680;
  color: white;
  display: flex;
  flex-direction: column;
}